.roundBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    box-shadow:  7px 7px 11px #D8DAE5, 
                -7px -7px 11px #fff;
}

.roundBtn--small {
    width: 30px;
    height: 30px;
}

.container__buyBtn, .container__cancelBtn {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.buyBtn {
    width: 240px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #57C2CC, #2D6469);
    box-shadow: 7px 7px 11px #D8DAE5;
}

.buyBtn:focus {
    outline: none;
    box-shadow: 7px 7px 11px #afb1b9;
}

.deleteBtn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    box-shadow: 0px 0px 10px#D8DAE5;
}

.checkoutBtn__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cancelBtn {
    width: 240px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #D8DAE5, var(--text-color-light));
    box-shadow: 7px 7px 11px #D8DAE5;
}

.checkoutBtn {
    width: 140px;
    height: 30px;
    margin: 1rem 0;
    color: #fff;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #57C2CC, #2D6469);
    box-shadow: 7px 7px 11px #D8DAE5;
}

.orderBtn {
    width: 140px;
    height: 30px;
    margin: 1rem 0;
    color: #fff;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #57C2CC, #2D6469);
    box-shadow: 7px 7px 11px #D8DAE5;
}