.items__container {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: var(--lato-font);
}

.item__content {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 1rem;
    border-radius: 8%;
    border: 1px solid #fff;
    background-color: #F7F8FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -12px -12px 24px #fff;
    color: var(--text-color-dark);
}

.item__content:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E6EAFA;
    clip-path: circle(100px at 60% 10%);
    transition: 0.5s ease-in-out;
}

.item__content:hover:before {
    clip-path: circle(200px at 80% -20%);
}

.item__view {
    position: absolute;
    top: 0;
    transform: translateY(0%);
    z-index: 100;
    transition: 0.5s;
}

.item__content:hover .item__view {
    top: 0%;
    transform: translateY(-30%);
}

.item__view > img {
    width: 130px;
}

.item__box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.item__title {
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
}

.item__price {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 600;
}

.item__price > h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
} 