.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    padding: 10px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem ;
    border-top-left-radius: 1rem ;
    bottom: 0;
    background-color: #EFF1FA;
    box-shadow:  0px -3px 20px #D8DAE5;
    z-index: 100;
}

.navbar__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar__selected {
    background-color: royalblue;
}

.cart__counter {
    position: absolute;
    right: 40px;
    top: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--icons-color-active);
    color: #EFF1FA;
    font-size: 0.8rem;
    
    font-weight: 600;
}

.navbar__selected--home path {
    fill: var(--icons-color-active);
}

.navbar__selected--categories #sec-path {
    fill: var(--icons-color-active);
}

.navbar__selected--cart path {
    stroke: var(--icons-color-active);
}